{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    {% if Borrows|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Borrow found!</h1>
                    {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Borrow id</th>
                                    <th>User id</th>
                                    <th>Book id</th>
                                    <th>Borrow date</th>
                                    <th>Return date</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for Borrows in Borrows %}
                                <tr>
                                    <td> {{ Borrows.Borrow_id }} </td>
                                    <td> {{ Borrows.User_id }} </td>
                                    <td> {{ Borrows.Book_id }} </td>
                                    <td> {{ Borrows.Borrow_date }} </td>
                                    <td> {{ Borrows.Return_date }} </td>

                                    <td>
                                        <a type="button" onclick="setModalFields(this)" data-toggle="modal"
                                            data-id="{{ Borrows.Borrow_id }}" data-User_id="{{Borrows.User_id}}"
                                            data-Book_id="{{Borrows.Book_id}}"
                                            data-Borrow_date="{{Borrows.Borrow_date}}"
                                            data-Return_date="{{Borrows.Return_date}}" data-bs-toggle="modal"
                                            data-bs-target="#editModal">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <button style="all: unset; cursor: pointer;" type="button"
                                            data-bs-toggle="modal" data-bs-target="#deleteModal"
                                            data-id="{{ Borrows.Borrow_id }}" onclick="setDeleteModalFields(this)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
                </form>
            </div>
            <div class="modal-footer">
                {{ form.submit(class = "btn btn btn-success", form = "modal-form", value = "Update") }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Edit modal -->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Borrow</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    {{ form.hidden_tag() }}
                    <div style="text-align: center;">
                        <input type="text" name="Borrow_id" id="id" readonly>
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.User_id(id = "User_id", required = False) }}
                        {{ form.Book_id(id = "Book_id", required = False) }}
                        {{ form.Borrow_date(id = "Borrow_date", required = False) }}
                        {{ form.Return_date(id = "Return_date", required = False) }}
                    </div>
                    <div>
                        {% if form.User_id.errors %}
                        <ul class="errors">
                            {% for error in form.User_id.errors %}
                            <li class="alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.Book_id.errors %}
                        <ul class="errors">
                            {% for error in form.Book_id.errors %}
                            <li class="alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.Borrow_date.errors %}
                        <ul class="errors">
                            {% for error in form.Borrow_date.errors %}
                            <li class="alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.Return_date.errors %}
                        <ul class="errors">
                            {% for error in form.Return_date.errors %}
                            <li class="alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {{ form.submit(class = "btn btn btn-success", form = "modal-form", value = "Update") }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Borrow</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form id="delete-modal-form">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>


<script>
    function setModalFields(row) {
        document.getElementById("id").value = row.getAttribute("data-id");
        document.getElementById("User_id").value = row.getAttribute("data-User_id");
        document.getElementById("Book_id").value = row.getAttribute("data-Book_id");
        document.getElementById("Borrow_date").value = row.getAttribute("data-Borrow_date");
        document.getElementById("Return_date").value = row.getAttribute("data-Return_date");

        document.getElementById("modal-form").action = "/Borrows/update/" + row.getAttribute("data-id");
        document.getElementById("modal-form").method = "POST";
        // document.getElementById("submit").addEventListener("click", (e) => {e.preventDefault();});
        // commented line above would prevent the default behavior of the submit button, that is, sending the
        // form data with a post request to the determined User_id and subsequently closing the pop-up
    }

    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/Borrows/delete/" + row.getAttribute("data-id");
        document.getElementById("delete-modal-form").method = "POST";
    }
</script>
{% endblock content %}