{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="reservation-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">

                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->

                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.Book_id.label(class = "form-label") }}
                    {{ form.Book_id(class = "form-control", placeholder = "Enter Book_id", required = False) }}
                    {% if form.Book_id.errors %}
                    <ul class="errors">
                        {% for error in form.Book_id.errors %}
                        <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
        </div>
    </div>
</div>
{% endblock content %}