{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Users</h4>
                    <p class="card-text paragraph-custom">
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/Users">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/Users/create">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">School Departments</h4>
                    <p class="card-text paragraph-custom">
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/School_Dep">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/School_Dep/create">Create</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row-2">
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Users</h4>
                    <p class="card-text paragraph-custom">
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/Users">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/Users/create">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Users</h4>
                    <p class="card-text paragraph-custom">
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/Users">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/Users/create">Create</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="row-3">
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Users</h4>
                    <p class="card-text paragraph-custom">
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/Users">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/Users/create">Create</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Users</h4>
                    <p class="card-text paragraph-custom">
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/Users">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/Users/create">Create</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="row-4">
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Users</h4>
                    <p class="card-text paragraph-custom">
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/Users">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/Users/create">Create</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Users</h4>
                    <p class="card-text paragraph-custom">
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/Users">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/Users/create">Create</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    {% endblock content %}